{% extends "base.html" %}
{% from "show_links.html" import show_links %}

{% block title %}Login{% endblock %}
{% block nav%}
          {{ show_links(current_user) }}
{% endblock %}
{% block body %}
      <div class="page-header">
        <h1>Login</h1>
      </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form method="POST" action="" class="form-horizontal">
                {{ form.hidden_tag() }}
                <fieldset>
                  <div class="form-group">
                    {{ form.username.label (class="col-lg-2 control-label") }}
                    <div class="col-lg-10">
                      {{ form.username (class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    {{ form.password.label (class="col-lg-2 control-label") }}
                    <div class="col-lg-10">
                      {{ form.password (class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      {{ form.submit (class="btn btn-primary") }}
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
              <div class="border-top pt-3">
                  Need An Account? <a class="ml-50" href="{{ url_for('users.register') }}">Sign Up Now</a>
              </div>
              <div class="border-top pt-3">
                  Are you here to explore the project? if yes, Please login using following data in order to fully observe the project:
                  <p></p>
                  <p>For Manager view:</p>
                  <ul>
                      <li>Username: manager</li>
                      <li>Password: manager</li>
                  </ul>
                  <p></p>
                  <p>For Developer view:</p>
                  <ul>
                      <li>Username: developer</li>
                      <li>Password: developer</li>
                  </ul>
                  <p></p>
                  <p>For Admin view:</p>
                  <ul>
                      <li>Username: admin</li>
                      <li>Password: admin</li>
                  </ul>
              </div>
          </div>
        </div>
{% endblock %}