{% extends "base.html" %}
{% from "show_links.html" import show_links %}

{% block title %}Projects{% endblock %}
{% block nav%}
          {{ show_links(current_user) }}
{% endblock %}
{% block body %}
<div class="well bs-component">
<dl class="row">
  <dt class="col-sm-3">Title</dt>
  <dd class="col-sm-9">{{ project.title }}</dd>

  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9">{{ project.description }}</dd>

  <dt class="col-sm-3">Created by:</dt>
  <dd class="col-sm-9">{{ project.created_by_id }}</dd>

  <dt class="col-sm-3 text-truncate">Tickets:</dt>
  <dd class="col-sm-9">{{ project.ticketso }}</dd>

</dl>
    </div>
{% endblock %}