 {% macro show_links(current_user) %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for ('index') }}">Home</a></li>
            <li><a href="{{ url_for ('about') }}">About</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for ('login') }}">Login</a></li>
            <li><a href="{{ url_for ('register') }}">Register</a></li>
            {% endif %}
            {% if current_user.is_authenticated and current_user['admin'] == 0 and current_user['expert'] == 0%}
            <li><a href="{{ url_for ('ask') }}">Ask Question</a></li>
            {% endif %}
            {% if current_user.is_authenticated and current_user['expert'] == 1 %}
            <li><a href="{{ url_for ('createTicket') }}">Create a Ticket</a></li>
            <li><a href="{{ url_for ('createProject') }}">Create a Project</a></li>
            {% endif %}
            {% if current_user.is_authenticated and current_user['admin'] == 1 %}
            <li><a href="{{ url_for ('users') }}">Manage Roles</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for ('logout') }}">Logout</a></li>
            {% endif %}
          </ul>
 {% endmacro %}