{% extends "base.html" %}
{% from "show_links.html" import show_links %}

{% block title %}Tickets{% endblock %}
{% block nav%}
          {{ show_links(current_user) }}
{% endblock %}
{% block body %}
      <div class="jumbotron">
        <h1>{{ ticket.title }}</h1>
        <p>{{ ticket.ticketText }}</p>
        <p><a class="btn btn-primary btn-lg">{{ ticket.created_by_id }}</a></p>
        <p><a class="btn btn-primary btn-lg">{{ ticket.expert_id }}</a></p>
        <p><a class="btn btn-primary btn-lg">{{ ticket.project_id }}</a></p>

      </div>
{% endblock %}