{% extends "base.html" %}
{% from "show_links.html" import show_links %}

{% block title %}Tickets{% endblock %}
{% block nav%}
          {{ show_links(current_user) }}
{% endblock %}
{% block body %}
<div class="well bs-component">
    <dl class="row">
      <dt class="col-sm-3">Title</dt>
      <dd class="col-sm-9">{{ ticket.title }}</dd>

      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">{{ ticket.ticket_text }}</dd>

      <dt class="col-sm-3">Created by:</dt>
      <dd class="col-sm-9">{{ ticket.created_by_id }}</dd>

      <dt class="col-sm-3">Assigned to:</dt>
      <dd class="col-sm-9">{{ ticket.expert_id }}</dd>

        <dt class="col-sm-3">Project:</dt>
      <dd class="col-sm-9">{{ ticket.project_id }}</dd>

        <dt class="col-sm-3">Status:</dt>
      <dd class="col-sm-9">{{ ticket.status }}</dd>

        <dt class="col-sm-3">Priorty:</dt>
      <dd class="col-sm-9">{{ ticket.priority }}</dd>
    </dl>
</div>

{% endblock %}